/* FavoritePage.css */

.favorite-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  padding-top: 2rem;
}

.favorite-page p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.favorite-page ul {
  list-style-type: none;
  padding: 0;
}

.favorite-page li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorite-page li:hover {
  background-color: #f1f1f1;
}


.back-link{
    position: absolute;
    left: 2rem;
    top: 2rem;
}
