
.planet-box{
  position: relative;
  height: 95vh;
  width: 100vw;
  left: calc(25vw*.5 - 800px);
}
.planet-details-page{
  display: flex;
  background-image: url("../../assets/background-stars.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90vh;
  height: 98vh;
  overflow-y: hidden;
}
.back-link{
  position: absolute;
  left: 2rem;
  top: 2rem;
}
 /* Override  */
.planet-box.jorden {
 
  background-image: url("../../assets/jorden.svg"); 
 background-size: cover;
}

.planet-box.mars {
  background-image: url("../../assets/mars.svg");
  background-size: cover;
}
.planet-box.venus{
  background-image: url("../../assets/venus.svg");
  background-size: cover;
}
.planet-box.solen{
  background-image: url("../../assets/solen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  

}