
.planet-box{
  position: relative;
  height: 100vh;
  width: 100vh;
  left: calc(25vw - 1000px);
  
}
.planet-details-page{
  display: flex;
  background-image: url("../../assets/background-stars.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90vh;
  height: 98vh;
  overflow-y: hidden;
}
.back-link{
  position: absolute;
  left: 2rem;
  top: 2rem;
}
 /* Override  */
.planet-box.jorden {
 
  background-image: url("../../assets/jorden.svg"); 
 background-repeat:no-repeat ;
 background-size: cover;
}

.planet-box.mars {
  background-image: url("../../assets/mars.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
