@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');


body, html {
  font-family: 'Orbitron', sans-serif;
  background-color: #070724;
  color: #c79595;
}

h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: .80rem
}
.linebreak{
    height: 0px;
    border: 1px rgb(255 255 255 / 25%) solid
}


.planet-details {
  /*background-color: #070724;*/
  color:  white;
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem 0px 10%;
  width: 80vw;
  min-height: 99vh;
  box-sizing: border-box;
  position: absolute;
  left: 20%;
  
}

.planet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.planet-action-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffffff;
  transition: color 0.3s;
  padding: 0 65px ;
  
}
.planet-action-icon:hover {
  color: #976666;
}

.favorite-text{
    text-align: center;
    font-size: 1.5rem;
}


.planet-description {
  line-height: 1.8;
  
}

.planet-info {
  display: flex;
  flex-wrap: wrap;
}


.planet-info-item {
  width: 40%;
  flex: 1 1 50%;
  margin: 0.5rem 0; 
}

.planet-info-label {
  font-weight: bold;
}

.moon-title{
    margin-top: 0px;
}